
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

#app {
	padding-bottom: 50px;
}
#nav-primary {
	position: fixed;
	bottom: 0;
	z-index: 2;
}
#app > .container {
	z-index: 1;
}