
// Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Variables
@import 'variables';
@import 'mixins';

// Material-UI
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";

// Partials
@import 'partials/_global.scss';
@import 'partials/_menu.scss';

@import 'partials/_home.scss';
@import 'partials/_login.scss';
@import 'partials/_register.scss';

/*#app {
	padding-bottom: 50px;
}
#app > .container {
	z-index: 1;
}
#app img {
	max-width: 100%;
}
#nav-primary {
	position: fixed;
	bottom: 0;
	z-index: 2;
}*/