html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: $bg-gradient;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: $text-color;
}

.center {
    text-align: center;
}
strong {
    font-weight: 500;
}
a {
    color: $text-color;
}

#app {
    height: 100%;
}