html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: $bg-gradient;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: $text-color;
}

.center {
    text-align: center;
}
strong {
    font-weight: 500;
}
a {
    color: $text-color;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#app {
    height: 100%;
}