#login {
  background: $bg;
  background-attachment: fixed;
  min-height: 100%;
  position: relative;

  .mdc-layout-grid, .mdc-layout-grid__inner {
    min-height: 100%;
    position: relative;
  }

  header {
    color: $title-color;
  }
  
  form .mdc-text-field {
    width: 100%;
  }
  form button {
    margin-top: 15px;
  }
  
  .register {
    margin-top: 30px;
    a {
      text-decoration: none;
      color: #000;
    }
  }

}